<div id="mainDiv" class="container-fluid" style="width:960px">
    <div class="container-fluid" style="margin-bottom: 10px">
    <span class="glyphicon glyphicon-chevron-left"
          style="cursor:pointer;align:left;"
          ng-click="backToSubjectPage()">Fagsiden </span>
    </div>
    <div class="container-fluid div-card" style="width: 100%; margin-bottom: 20px;position:relative">
        <button class="btn btn-default" style="position: relative; left: 785px" ng-click="openExerciseModal()">+ Finn oppgaver</button>
        <h2 align="center">{{collection.name}}</h2>
        <hr/>
        <div class="row">
            <div class="col-xs-1">
                <p style="font-size: 20px;margin-left: 10px">Navn:</p>
            </div>
            <div class="col-xs-11">
                <div class="col-xs-5">
                    <input style="margin-bottom:13px;" ng-model="collection.name"
                           type="text" class="form-control">
                </div>
                <div class="col-xs-3">
                    <form>
                        <label>Offentlig:</label>
                        <switch id="enabled" name="enabled" ng-model="collection.public"></switch>
                    </form>
                </div>
                <div class="col-xs-4">
                    <form>
                        <label>Tilfeldig rekkefølge:</label>
                        <switch id="enabled" name="enabled" ng-model="collection.inOrder"></switch>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="editArea" style="width: 960px; margin-left: -15px">
        <div as-sortable="dragControlListeners" ng-model="collection.exercises">
            <div class="container-fluid" as-sortable-item ng-repeat="exercise in collection.exercises track by $index"
                 ng-model="exercise" style="margin-bottom: 15px;">
                <div class="container-fluid div-card" as-sortable-item-handle style="cursor: default; width: 100%; position: relative" ng-mouseenter="focused[$index] = true"
                     ng-mouseleave="focused[$index] = false">
                    <div class="container-fluid" style="margin-top: 30px"></div>
                    <div no-drag class="row" style="margin-bottom: 30px">
                        <div class="col-xs-11" style="border-right: thin solid #F1F1F2;">

                            <div no-drag align="right" style="top:0px;right:10px;" ng-show="isInErrorList($index)">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                            </div>

                            <div no-drag ng-click="activateEditExercise($index)" class="container-fluid">
                                <div ng-if="$index == activeExercise" class="container-fluid" style="margin-bottom: 10px">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <select id="typeBox" ng-change="changeDefault(exercise,$index)"
                                                    ng-model="exercise.type"
                                                    align="left" style="margin-top:10px">
                                                <option ng-repeat="x in types" value="{{x.type}}">{{x.desc}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="exercise.image" class="container-fluid" align="center">
                                    <img src="{{getImage(exercise.image)}}" style="height: 140px;">
                                    <hr>
                                </div>

                                <div ng-if="exercise.type == 'pd'" ng-include src="'collections/pd.html'"
                                     onload="exerciseNumber = $index"></div>
                                <div ng-if="exercise.type == 'mc'" ng-include src="'collections/mc.html'"
                                     onload="exerciseNumber = $index"></div>
                                <div ng-if="exercise.type == 'tf'" ng-include src="'collections/tf.html'"
                                     onload="exerciseNumber = $index"></div>
                                <div ng-show="$index == activeExercise" class="container-fluid">
                                    <hr>
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-lg-1">
                                            <a style="cursor: pointer" ng-click="extraProperty[$index]='image'">Bilde</a>
                                        </div>
                                        <div class="col-lg-1">
                                            <a style="cursor: pointer" ng-click="extraProperty[$index]='explanation'">Forklaring</a>
                                        </div>
                                    </div>
                                    <div ng-if="extraProperty[$index]=='image'" class="row">
                                        <div class="col-lg-1">
                                            <h4>Bilde:</h4>
                                        </div>
                                        <div class="col-lg-7">
                                            <input id="{{$index}}" class="form-control" type="file" ng-model="files" name="files" style="margin-top: 5px;"
                                                   base-sixty-four-input on-after-validate="onChangeHandler(exercise)"
                                                   accept="image/*">
                                        </div>
                                        <div class="col-lg-4">
                                            <div style="margin-top:10px;">
                                                <a style="cursor:pointer;" ng-click="removeImage($index)" ng-if="exercise.image"><em>Fjern bilde</em></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div ng-if="extraProperty[$index]=='explanation'" class="row">
                                        <div class="col-lg-2">
                                            <h4>Forklaring:</h4>
                                        </div>
                                        <div class="col-lg-10">
                                            <textarea msd-elastic class="form-control textarea-edit" rows="1" ng-model="exercise.explanation"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div no-drag class="container-fluid" style="position: absolute; bottom: -5px; right: -60px">
                                    <span ng-show="focused[$index]" class="glyphicon glyphicon-trash"
                                          ng-click="deleteExercise($index)"
                                          style="cursor:pointer;"></span>
                            </div>

                        </div>
                    </div>
                    <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 25px; cursor: all-scroll;position: absolute; top: 46%; right: 3%"></span>





            </div>

        </div>

    </div>
</div>

<button class="btn btn-default" ng-click="addExercise()" style="width:100%;">+ Ny oppgave</button>

<button ng-click="saveCollection()" ng-disabled="saveClicked" class="btn btn-default"
        style="background-color:white;position:fixed;bottom:200px;right:60px;cursor:pointer;">
    <span class="glyphicon glyphicon-floppy-disk"></span>
</button>
<button ng-click="addExercise()" class="btn btn-default"
        style="background-color:white;position:fixed;bottom:150px;right:60px;cursor:pointer;">
    <span class="glyphicon glyphicon-plus"></span>
</button>


<uib-alert style="position:fixed; bottom:10px;left:10px;" class="repeat-item" ng-repeat="alert in alerts"
           type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
</uib-alert>


<div class="container-fluid" style="margin: 30px;">


</div>

</div>

<script type="text/ng-template" id="exerciseModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Legg til oppgaver</h3>
    </div>
    <div class="modal-body" style="background-color: #F1F1F2">
        <div class="row">
            <div class="col-xs-6">
                <h3>Søk etter oppgaver:</h3>
                <div class="input-group" style="width: 100%;">
                    <select class="form-control" ng-model="searchMode" ng-change="changeNavigationParts()"
                            style="width: 20%">
                        <option value="exercises">Oppgaver</option>
                        <option value="collections">Sett</option>
                        <option value="subjects">Fag</option>
                    </select>
                    <input class="form-control" ng-model="searchTerm" placeholder="Søk..."
                           ng-keypress="$event.keyCode==13 && searchItems()" style="width: 60%">


                    <button class="btn btn-primary" ng-click="searchItems()" style="width: 10%">Søk</button>
                </div>
            </div>
            <div class="col-xs-6">
                <h3>Oppgaver som legges til:</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-6">
                <div ng-repeat="part in navigationParts">
                    <a href="" ng-if="!$last" style="float: left" ng-click="resetSearch()">{{part.text}}</a>
                    <p ng-if="!$last" style="float: left"> > </p>
                    <p ng-if="$last" style="float: left">{{part.text}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="container-fluid" style="height: 500px; overflow-y: scroll; background-color: white;">
                    <div as-sortable="dragControlListeners" ng-model="resultList" id="loading-bar-container">
                        <div ng-repeat="result in resultList track by $index" ng-model="result" as-sortable-item>
                            <div as-sortable-item-handle>
                                <label ng-click="addToList($index)" ng-if="result.question" class="btn btn-default"
                                       style="white-space: normal; width: 100%; text-align: left;">
                                    <h4>{{result.question}}</h4>
                                    <p>{{result.correctAnswer}}</p>
                                </label>
                                <label no-drag ng-if="result.collectionId" ng-click="searchItems(result)"
                                       class="btn btn-default"
                                       style="white-space: normal; width: 100%; text-align: left">
                                    <h4>{{result.collectionName}}</h4>
                                    <p>{{result.subjectCode}}: {{result.subjectName}}</p>
                                </label>
                                <label no-drag ng-if="result.subjectId" ng-click="searchItems(null, result)"
                                       class="btn btn-default"
                                       style="white-space: normal; width: 100%; text-align: left">
                                    <h4>{{result.subjectName}}</h4>
                                    <p>{{result.subjectCode}}</p>
                                </label>

                            </div>
                        </div>
                        <div ng-if="noResult" align="center">
                            <i>Ingen resultater...</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="container-fluid"
                     style="height: 500px; overflow-y: scroll; overflow-x: hidden; background-color: white;">
                    <div as-sortable="dragControlListeners2" ng-model="exercises" style="height: 500px">
                        <div ng-repeat="exercise in exercises track by $index" ng-model="exercise" as-sortable-item>
                            <div as-sortable-item-handle>
                                <div no-drag class="btn btn-default"
                                     style="white-space: normal; width: 100%; text-align: left; cursor: default">
                                    <h4>{{exercise.question}}</h4>
                                    <p>{{exercise.correctAnswer}}</p>

                                    <div ng-click="removeExercise($index)" class="container-fluid" style="position: relative; bottom: 10px; left: 450px; cursor: pointer">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div ng-if="searchMode=='exercises' || navigationParts.length == 2" class="container-fluid" align="right">
                    <button class="btn btn-default" ng-click="addAllToList()">
                        Legg til alle i lista
                    </button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="container-fluid" align="right">
                    <button class="btn btn-default" ng-click="removeAllExercises()">
                        Fjern alle fra lista
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="returnExercises()">Legg til</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Avbryt</button>
    </div>
</script>