<div class="container-fluid" style="width: 960px;"">
<span class="glyphicon glyphicon-chevron-left" style="cursor:pointer;position: absolute;top: 60px;" align="left"
      ng-click="goTo('/subjects')">
        <label style="cursor:pointer">Forsiden</label>
</span>
<div class="container-fluid" style="margin: 10px;">
</div>
<div class="container-fluid" style="background-color: white;width:960px;margin-top:10px;position: relative">

    <h2 align="center">{{subject.code}} - {{nameCopy}}</h2>
    <hr>
    <div class="container-fluid" align="left" style="margin-bottom: 20px">
        <div class="col-lg-6" style="border-right: thin solid #F1F1F2;">
            <label style=" margin-top:5px;">Fagnavn:</label>
            <input ng-model="subject.name" class="form-control" style="width:400px;">
            <label style=" margin-top:5px;">Beskrivelse:</label>
                <textarea ng-model="subject.description" rows="2" class="form-control"
                          style="width:400px;resize: none;"></textarea>
        </div>
        <div class="col-lg-6">
            <label style="margin-top: 5px">Rapporter:</label>
            <p>Siste rapporter:</p>
            <ul>
                <li ng-repeat="report in reportedExercises | orderBy: 'lastAdded':true | limitTo: 3">
                    <a style="cursor: pointer" ng-click="openReportModal(report.collectionId, report.exerciseId)">
                        {{report.lastAdded}}, {{reportedCollections[report.collectionId].name}}
                    </a>
                </li>
            </ul>
            <div ng-if="reportedExercises.length > 0" class="container-fluid"
                 style="width: 100%; margin-top: 20px; margin-left: 300px;">
                <a style="cursor: pointer;" ng-click="openReportModal()">Se alle rapporter</a>
            </div>
        </div>
    </div>

    <label style="position: absolute;top: 25px;right: 70px;">Offentlig:</label>
    <form style="position:absolute;top:20px;right:10px;">
        <switch id="enabled" name="enabled" ng-model="subject.public"></switch>
    </form>


</div>


<div class="container-fluid" style="background-color: white;width:960px;margin-top:10px;"
     id="loading-bar-container">
    <h2 align="center">Tilhørende sett</h2>
    <a href="#/subjects/{{subject._id}}/collections/new">
        <button class="btn btn-default" style="margin-bottom: 10px; margin-top: 10px;width:100%;">+ Nytt sett
        </button>
    </a>
    <table id="collectionsTable" class="table">
        <tbody ng-model="collections" as-sortable="dragControlListeners">
        <tr ng-mouseenter="focused[$index] = true"
            ng-mouseleave="focused[$index] = false" ng-repeat="coll in collections track by $index" ng-model="coll"
            as-sortable-item>
            <td as-sortable-item-handle style="width:900px;" ng-model="coll" ng-click="setTargetCollection($index)">
                <a href="#/subjects/{{subject._id}}/collections/{{targetCollection}}"
                   style="width: 100%;">{{coll.name}}</a>
            </td>
            <td style="width:60px;">
                <div ng-show="focused[$index]" style="margin-left:400px" ng-click="deleteCollection(coll,$index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
            </td>

        </tr>

        </tbody>

    </table>


</div>
<div class="container-fluid" style="position: fixed; right: 50px; bottom: 50px;">
    <label class="btn btn-default" ng-click="saveSubject()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </label>
</div>

</div>

<script type="text/ng-template" id="reportModal.html">
    <div class="modal-header">
        <h3>Rapporter</h3>
    </div>
    <div class="modal-body" style="background-color: #F1F1F2">
        <div ng-if="exercise" class="container-fluid">
            <span class="glyphicon glyphicon-chevron-left" align="left" style="cursor: pointer; margin-bottom: 20px">
                Alle rapporter
            </span>
            <div class="container-fluid" style="width: 960px; background-color: white">
                <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                    <div ng-repeat="reportArray in exerciseReportArrays track by $index">
                        <div class="col-lg-6">
                            <div ng-repeat="report in reportArray track by $index" class="container-fluid">
                                <p ng-show="!removeList[$parent.$index*splitPoint + $index]"
                                   ng-click="removeList[$parent.$index*splitPoint + $index]=true"
                                   style="cursor: pointer">
                                    {{report.date}}, {{report.message}}
                                </p>
                                <del ng-show="removeList[$parent.$index*splitPoint + $index]"
                                     ng-click="removeList[$parent.$index*splitPoint + $index]=false"
                                     style="cursor: pointer">
                                    <p>{{report.date}}, {{report.message}}</p>
                                </del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" ng-click="activeExercise = 0"
                 style="width: 960px; background-color: white; margin-top: 10px">
                <div ng-if="exercise.image" class="container-fluid" align="center" style="margin-top: 30px">
                    <img src="{{getImage(exercise.image)}}" style="height: 140px;">

                    <hr>
                </div>

                <div ng-if="exercise.type == 'pd'" ng-include src="'collections/pd.html'"
                     onload="exerciseNumber = 0"></div>
                <div ng-if="exercise.type == 'mc'" ng-include src="'collections/mc.html'"
                     onload="exerciseNumber = 0"></div>
                <div ng-if="exercise.type == 'tf'" ng-include src="'collections/tf.html'"
                     onload="exerciseNumber = 0"></div>

                <div ng-show="0 == activeExercise" class="container-fluid">
                    <hr>
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-lg-1">
                            <a style="cursor: pointer" ng-click="extraProperty='image'">Bilde</a>
                        </div>
                        <div class="col-lg-1">
                            <a style="cursor: pointer" ng-click="extraProperty='explanation'">Forklaring</a>
                        </div>
                    </div>
                    <div ng-show="extraProperty=='image'" class="row">
                        <div class="col-lg-2">
                            <h4>Bilde:</h4>
                        </div>
                        <div class="col-lg-10">
                            <input id="files" class="form-control" type="file" ng-model="files" style="margin-top:10px;"
                                   name="files"
                                   base-sixty-four-input on-after-validate="onChangeHandler(exercise)"
                                   accept="image/*">
                        </div>
                    </div>
                    <div ng-show="extraProperty=='explanation'" class="row">
                        <div class="col-lg-2">
                            <h4>Forklaring:</h4>
                        </div>
                        <div class="col-lg-10">
                            <textarea class="form-control textarea-edit" rows="2"
                                      ng-model="exercise.explanation"></textarea>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 30px"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="exercise" type="button" class="btn btn-primary" ng-click="saveChanges()">Lagre</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Avbryt</button>
    </div>
</script>