


<div class="container-fluid" style="background-color: white;width:960px;margin-top:10px;">
    <h2 align="center">{{subject.code}} - {{subject.name}}</h2>

    <div class="row">
        <div class="col-lg-3">
            <label align="right" style="margin-left:200px; margin-top:5px;">Navn:</label>
        </div>
        <div class="col-lg-9">
            <input align='left' ng-model="subject.name" class="form-control" style="width:400px;margin-left:10px;" >
        </div>
    </div>

    <div class="row" style="margin-top:5px;margin-bottom:5px;width:960px;">
        <div class="col-lg-3">
            <label align="right" style="margin-left:165px; margin-top:5px;">Beskrivelse:</label>
        </div>
        <div class="col-lg-9">
            <textarea align="left" ng-model="subject.description" rows="2" class="form-control" style="width:400px;resize: none;margin-left:10px" ></textarea>
        </div>

    </div>

    <hr>




    <a href="#/subjects/{{subject._id}}/collections/new">
       <button class="btn btn-default" style="margin-bottom: 10px; margin-top: 10px;width:100%;">+ Nytt sett</button>
   </a>
    <table class="table" id="loading-bar-container">
        <tbody>
        <tr ng-repeat="coll in collections track by $index">
            <td style="width:400px;" ng-model="coll" ng-click="setTargetCollection(coll)"><a href="#/subjects/{{subject._id}}/collections/{{targetCollection}}">{{coll.name}}</a></td>
            <td style="width:400px;"><Button style="margin-left:400px" ng-click="deleteCollection(coll,$index)">
                <span class="glyphicon glyphicon-trash"></span>
                </Button>
            </td>

        </tr>

        </tbody>

    </table>

</div>