


<div class="container-fluid" >
    <div class="container-fluid"style="background-color: white;width:960px;margin-top:10px;position: relative">
        <h2 align="center">{{subject.code}} - {{subject.name}}</h2>
        <hr>
        <div class="container-fluid" align="left" style="margin-bottom: 10px">
            <div class="col-lg-6" style="border-right: thin solid #F1F1F2;">
                <label style=" margin-top:5px;">Fagnavn:</label>
                <input ng-model="subject.name" class="form-control" style="width:400px;">
                <label style=" margin-top:5px;">Beskrivelse:</label>
                <textarea ng-model="subject.description" rows="2" class="form-control" style="width:400px;resize: none;" ></textarea>
            </div>
            <div class="col-lg-6">
                <label style="margin-top: 5px">Rapporter:</label>
                <p>Siste rapporter:</p>
                <ul>
                    <li ng-repeat="report in reports.slice().reverse() | limitTo: 3">
                        {{report[0].date}}
                    </li>
                </ul>
                <div ng-if="reports.length > 0" class="container-fluid" style="width: 100%; margin-top: 20px; margin-left: 300px;">
                    <a style="cursor: pointer;">Se alle rapporter</a>
                </div>
            </div>

            <div class="row" style="width: 480px">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                </div>
            </div>

            <div class="row" style="margin-top:5px;margin-bottom:5px;width:480px;">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                </div>
            </div>
        </div>

        <label style="position: absolute;top: 25px;right: 70px;">Offentlig:</label>
        <form style="position:absolute;top:20px;right:10px;">
            <switch id="enabled" name="enabled" ng-model="subject.public"></switch>
        </form>



    </div>


    <div class="container-fluid" style="background-color: white;width:960px;margin-top:10px;" id="loading-bar-container">
        <h2 align="center">Tilhørende sett</h2>
        <a href="#/subjects/{{subject._id}}/collections/new">
           <button class="btn btn-default" style="margin-bottom: 10px; margin-top: 10px;width:100%;">+ Nytt sett</button>
        </a>
        <table id="collectionsTable" class="table">
            <tbody ng-model="collections" as-sortable="dragControlListeners">
            <tr ng-repeat="coll in collections track by $index" ng-model="coll" as-sortable-item>
                <td as-sortable-item-handle style="width:900px;" ng-model="coll" ng-click="setTargetCollection($index)">
                    <a href="#/subjects/{{subject._id}}/collections/{{targetCollection}}" style="width: 100%;">{{coll.name}}</a>
                </td>
                <td style="width:60px;"><Button style="margin-left:400px" ng-click="deleteCollection(coll,$index)">
                    <span class="glyphicon glyphicon-trash"></span>
                    </Button>
                </td>

            </tr>

            </tbody>

        </table>


    </div>
    <div class="container-fluid" style="position: fixed; right: 50px; bottom: 50px;">
        <label class="btn btn-default" ng-click="saveSubject()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </label>
    </div>

</div>