<div ng-controller="editCtrl" class="container-fluid" style="width:960px">
    <div class="container-fluid" style="margin: 20px;">
    </div>
    <div class="container-fluid" style="width: 100%; background-color: white; margin-bottom: 10px" align="center">
        <div class="row" style="margin-top: 10px; width: 480px">
            <div class="col-lg-2">
                <p style="font-size: 20px">Navn:</p>
            </div>
            <div class="col-lg-10">
                <input ng-model="collection.name" type="text" class="form-control" style="margin-bottom: 60px;margin-left: -25px;">
            </div>
        </div>

        <div class="row" align="center">
            <div class="btn-group" style="margin-top:-75px;">
                <label class="btn btn-default" ng-model="public" uib-btn-radio="true" style="margin-top: 2px;" >
                    Public
                </label>

                <label class="btn btn-default" ng-model="public" uib-btn-radio="false" style="margin-top: 2px;">
                    Private
                </label>
            </div>

        </div>
    </div>

    <div id="editArea">
        <div as-sortable="dragControlListeners" ng-model="collection.exercises">
            <div class="container-fluid" as-sortable-item ng-repeat="exercise in collection.exercises track by $index" ng-model="exercise" style="background-color: white; margin-bottom: 10px;">
                <div as-sortable-item-handle>
                    <div align="center" ng-mouseenter="move[$index].upBtn = true" ng-mouseleave="move[$index].upBtn = false" class="container-fluid" style="height: 30px;">
                        <span ng-show="move[$index].upBtn && !$first" ng-click="moveExcercise($index, true)" class="glyphicon glyphicon-menu-up" style="font-size: 20px; cursor: pointer"></span>
                    </div>

                    <div align="right" style="top:0px;right:10px;" ng-show="isInErrorList($index)">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </div>


                    <div class="row">
                        <div class="col-lg-2">
                            <h4>Spørsmålstype:</h4>
                        </div>
                        <div class="col-lg-10">
                            <select id="typeBox" ng-change="changeDefault(exercise,$index)" ng-model="exercise.type" align="left" style="margin-top:10px">
                                <option ng-repeat="x in types" value="{{x.type}}">{{x.desc}}</option>
                            </select>
                        </div>
                    </div>




                    <div ng-if="exercise.type == 'pd'" ng-include src="'collections/pd.html'"></div>
                    <div ng-if="exercise.type == 'mc'" ng-include src="'collections/mc.html'"></div>
                    <div ng-if="exercise.type == 'tf'" ng-include src="'collections/tf.html'"></div>


                    <div class="container-fluid">
                        <span class="glyphicon glyphicon-trash" ng-click="deleteExercise($index)" style="cursor:pointer;position: relative; left: 850px "></span>
                    </div>

                    <div align="center" ng-mouseenter="move[$index].downBtn = true" ng-mouseleave="move[$index].downBtn = false" class="container-fluid" style="height: 30px;">
                        <span ng-show="move[$index].downBtn && !$last" ng-click="moveExcercise($index, false)"  class="glyphicon glyphicon-menu-down" style="font-size: 20px; cursor: pointer"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <button class="btn btn-default" ng-click="addExercise()" style="width:100%;">+ Ny oppgave</button>

    <button ng-click="saveCollection()" class="btn btn-default" style="background-color:white;position:fixed;bottom:200px;right:60px;cursor:pointer;">
        <span class="glyphicon glyphicon-floppy-disk" ></span>
    </button>
    <button ng-click="addExercise()" class="btn btn-default" style="background-color:white;position:fixed;bottom:150px;right:60px;cursor:pointer;">
        <span class="glyphicon glyphicon-plus"></span>
    </button>


    <uib-alert style="position:fixed; bottom:10px;left:10px;" class="repeat-item" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>



    <div class="container-fluid" style="margin: 30px;">


    </div>

</div>