<div id="mainDiv" ng-controller="editCtrl" class="container-fluid" style="width:960px">
    <div class="container-fluid" style="margin: 20px;">
    </div>
    <div class="container-fluid" style="width: 100%; background-color: white; margin-bottom: 10px;position:relative">
        <button class="btn btn-default" ng-click="openExerciseModal()">+ Finn oppgaver</button>
        <h2 align="center">{{collection.name}}</h2>


        <hr/>
        <div class="row">
            <div class="col-lg-2">
                <p style="font-size: 20px;margin-left: 10px">Navn:</p>
            </div>

            <div class="col-lg-10">
                <input style="width:480px;align:left;margin-bottom:13px; margin-left:-75px;" ng-model="collection.name" type="text" class="form-control"
                       style="margin-bottom: 60px;margin-left: -25px;">
                <form style="position:absolute;top:0px;right:10px;">
                    <label>Offentlig:</label>
                    <switch id="enabled" name="enabled" ng-model="public"></switch>
                </form>
                <form style="position: absolute;top:0px;right:150px;">
                    <label>Tilfeldig rekkefølge:</label>
                    <switch id="enabled" name="enabled" ng-model="enabled"></switch>
                </form>
            </div>



        </div>





    </div>
    <div id="editArea">
        <div as-sortable="dragControlListeners" ng-model="collection.exercises">
            <div class="container-fluid" as-sortable-item ng-repeat="exercise in collection.exercises track by $index"
                 ng-model="exercise" style="background-color: white; margin-bottom: 10px;">
                <div as-sortable-item-handle ng-style="{'cursor' : 'default'}" ng-mouseenter="focused[$index] = true"
                     ng-mouseleave="focused[$index] = false">
                    <div align="center" class="container-fluid" style="height: 30px;">
                        <span ng-show="focused[$index]" class="glyphicon glyphicon-option-horizontal"
                              style="font-size: 20px; cursor: all-scroll"></span>
                    </div>

                    <div align="right" style="top:0px;right:10px;" ng-show="isInErrorList($index)">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </div>


                    <div no-drag ng-click="activateEditExercise($index)" class="container-fluid">
                        <div ng-if="$index == activeExercise" class="container-fluid">
                            <div class="row">
                                <div class="col-lg-2">
                                    <h4>Spørsmålstype:</h4>
                                </div>
                                <div class="col-lg-10">
                                    <select id="typeBox" ng-change="changeDefault(exercise,$index)" ng-model="exercise.type"
                                            align="left" style="margin-top:10px">
                                        <option ng-repeat="x in types" value="{{x.type}}">{{x.desc}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div ng-if="exercise.image" class="container-fluid" align="center">
                            <img src="{{getImage(exercise.image)}}" style="width: 120px;">

                            <hr>
                        </div>

                        <div ng-if="exercise.type == 'pd'" ng-include src="'collections/pd.html'" onload="exerciseNumber = $index"></div>
                        <div ng-if="exercise.type == 'mc'" ng-include src="'collections/mc.html'" onload="exerciseNumber = $index"></div>
                        <div ng-if="exercise.type == 'tf'" ng-include src="'collections/tf.html'" onload="exerciseNumber = $index"></div>

                        <div class="container-fluid">
                            <form>
                                <h4>Image:</h4>
                                <input type="file" ng-model="files" name="files" base-sixty-four-input on-after-validate="onChangeHandler(exercise)" accept="image/*" >
                            </form>
                        </div>

                    </div>



                    <div class="container-fluid" style="height: 30px;margin-top: 10px; margin-right: -10px;">
                        <span ng-show="focused[$index]" class="glyphicon glyphicon-trash"
                              ng-click="deleteExercise($index)"
                              style="cursor:pointer;position: relative; left: 850px "></span>
                    </div>


                </div>

            </div>

        </div>
    </div>

    <button class="btn btn-default" ng-click="addExercise()" style="width:100%;">+ Ny oppgave</button>

    <button ng-click="saveCollection()" class="btn btn-default"
            style="background-color:white;position:fixed;bottom:200px;right:60px;cursor:pointer;">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <button ng-click="addExercise()" class="btn btn-default"
            style="background-color:white;position:fixed;bottom:150px;right:60px;cursor:pointer;">
        <span class="glyphicon glyphicon-plus"></span>
    </button>


    <uib-alert style="position:fixed; bottom:10px;left:10px;" class="repeat-item" ng-repeat="alert in alerts"
               type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
    </uib-alert>


    <div class="container-fluid" style="margin: 30px;">


    </div>

</div>

<script type="text/ng-template" id="exerciseModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Legg til oppgaver</h3>
    </div>
    <div class="modal-body" style="background-color: #F1F1F2">
        <div class="row">
            <div class="col-lg-6">
                <h3>Søk etter oppgaver:</h3>
                <div class="input-group" style="width: 100%;">
                    <select class="form-control" ng-model="searchMode" ng-change="changeNavigationParts()" style="width: 20%">
                        <option value="exercises">Oppgaver</option>
                        <option value="collections">Sett</option>
                        <option value="subjects">Fag</option>
                    </select>
                    <input class="form-control" ng-model="searchTerm" placeholder="Søk..." ng-keypress="$event.keyCode==13 && searchItems()" style="width: 60%">

                    <!--<input class="form-control" ng-show="searchMode=='collections'" ng-model="searchSubject" placeholder="Sett..." ng-keypress="$event.keyCode==13 && searchItems()" style="width: 30%">-->
                    <!--<input class="form-control" ng-show="searchMode=='collections'" ng-model="searchTerm" placeholder="Søk..." ng-keypress="$event.keyCode==13 && searchItems()" style="width: 30%">-->

                    <!--<input class="form-control" ng-show="searchMode=='subjects'" ng-model="searchSubject" placeholder="Fag..." ng-keypress="$event.keyCode==13 && searchItems()" style="width: 30%">-->
                    <!--<input class="form-control" ng-show="searchMode=='subjects'" ng-model="searchTerm" placeholder="Søk..." ng-keypress="$event.keyCode==13 && searchItems()" style="width: 30%">-->

                    <button class="btn btn-primary" ng-click="searchItems()" style="width: 10%">Søk</button>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Oppgaver som legges til:</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-6">
                <div ng-repeat="part in navigationParts">
                    <a href="" ng-if="!$last" style="float: left" ng-click="resetSearch()">{{part.text}}</a>
                    <p ng-if="!$last" style="float: left"> > </p>
                    <p ng-if="$last" style="float: left">{{part.text}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container-fluid" style="height: 500px; overflow-y: scroll; background-color: white;">
                    <div as-sortable="dragControlListeners" ng-model="resultList" id="loading-bar-container">
                        <div ng-repeat="result in resultList" as-sortable-item>
                            <div as-sortable-item-handle>
                                <label ng-if="result.question" class="btn btn-default" style="white-space: normal; width: 100%; text-align: left;">
                                    <h4>{{result.question}}</h4>
                                    <p>{{result.correctAnswer}}</p>
                                </label>
                                <label no-drag ng-if="result.collectionId" ng-click="searchItems(result)" class="btn btn-default" style="white-space: normal; width: 100%; text-align: left">
                                    <h4>{{result.collectionName}}</h4>
                                    <p>{{result.subjectCode}}: {{result.subjectName}}</p>
                                </label>
                                <label no-drag ng-if="result.subjectId" ng-click="searchItems(null, result)" class="btn btn-default" style="white-space: normal; width: 100%; text-align: left">
                                    <h4>{{result.subjectName}}</h4>
                                    <p>{{result.subjectCode}}</p>
                                </label>

                            </div>
                        </div>
                        <div ng-if="noResult" align="center">
                            <i>Ingen resultater...</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container-fluid" style="height: 500px; overflow-y: scroll; overflow-x: hidden; background-color: white;">
                    <div as-sortable="dragControlListeners2" ng-model="exercises" style="height: 500px">
                        <div ng-repeat="exercise in exercises track by $index" ng-model="exercise" as-sortable-item>
                            <div as-sortable-item-handle>
                                <div no-drag class="btn btn-default" style="white-space: normal; width: 100%; text-align: left; cursor: default">
                                    <h4>{{exercise.question}}</h4>
                                    <p>{{exercise.correctAnswer}}</p>
                                    <div ng-click="removeExercise($index)" class="container-fluid" style="position: relative; bottom: 10px; left: 600px; cursor: pointer">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div ng-if="searchMode=='exercises' || navigationParts.length == 2" class="container-fluid">
                    <button class="btn btn-default" ng-click="addAllToList()">
                        Legg til alle i lista
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addExercises()">Legg til</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Avbryt</button>
    </div>
</script>