<div class="row">
    <div class="col-lg-2">
        <h4>Oppgave:</h4>
    </div>
    <div class="col-lg-10">
        <input class="form-control" style="margin-top: 5px;margin-bottom:5px;" ng-model="exercise.question">

    </div>

</div>
<div class="row">
    <div class="col-lg-2">
        <h4>Svar:</h4>
    </div>
    <div class="col-lg-10">
                    <textarea class="form-control" style="margin-top: 15px;margin-bottom:15px; resize: none" rows="2" ng-model="exercise.correctAnswer">
                    </textarea>
    </div>

</div>
<div class="row">
    <div class="col-lg-2">
        <h4>Alternativer:</h4>
    </div>
    <div class="col-lg-10">
        <div ng-repeat="alternative in exercise.alternatives track by $index" style="margin-bottom:7px;">
            <div class="row">
                <div class="col-lg-11">
                    <textarea ng-keyup="updateAlternative(exercise, $index, alternative)" class="form-control" style="margin-top: 2px;resize: none;" rows="2" ng-model="alternative"></textarea>
                </div>
                <div class="col-lg-1">
                    <span ng-click="deleteAlternative(exercise,$index)" class="glyphicon glyphicon-remove" style="margin-top: 15px;font-size: 20px;height: 50px;cursor: pointer;"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="width: 100%; margin-top: 10px">
        <a href="" ng-click="addAlternative(exercise)">+ Legg til alternativ</a>

    </div>
</div>
