

<div class="container-fluid" ng-if="exerciseNumber == activeExercise">
    <div class="row">
        <div class="col-lg-2">
            <h4>Oppgave:</h4>
        </div>
        <div class="col-lg-10">
            <textarea class="form-control" style="margin-top: 2px; resize: none" rows="2" ng-model="exercise.question">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h4>Svar:</h4>
        </div>
        <div class="col-lg-10">
            <div class="btn-group" style="margin-top:4px">
                <label class="btn btn-default" ng-model="exercise.correctAnswer" uib-btn-radio="true" style="margin-top: 2px;" >
                    True
                </label>
                <label class="btn btn-default" ng-model="exercise.correctAnswer" uib-btn-radio="false" style="margin-top: 2px;">
                    False
                </label>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-if="exerciseNumber != activeExercise">
    <div class="row">
        <div class="col-lg-2">
            <h4>Oppgave:</h4>
        </div>
        <div class="col-lg-10">
            <h4>{{exercise.question}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h4>Svar:</h4>
        </div>
        <div class="col-lg-10">
            <h4 ng-if="exercise.correctAnswer == true || exercise.correctAnswer == false">{{exercise.correctAnswer}}</h4>
        </div>
    </div>
</div>
