<div class="container-fluid" align="center">
    <a href="#/add" >
        <button class="btn btn-default" style="width: 60%;height: 50px;" >
            + Legg til fag
        </button>
    </a>
</div>

<div class="container-fluid" ng-repeat="item in items" align="center">
    <a href="#/subjects/{{targetSubject}}">
        <button class="btn btn-default btn-subjects" ng-click="setTargetSubject(item)">
            {{ item.name }}
            <br>
            {{item.code}}
        </button>
    </a>
</div>

<div class="container-fluid" style="position: fixed; bottom: 20px; right: 20px">
    <button class="btn btn-default">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</div>